$color-primary: #f9ed69; // yellow color
$color-green-primary: #1efc9f;
$color-secodary: #f08a5d;
$color-tertiory: #b83b5e;
$color-text-dark: #333;
$color-black: #000000;
$color-text-light: #fff;
$width-button: 150px;
$color-grey-light-1: #f7f7f7;
